h1{color: #3263FD;font-family:helvetica; font-size: 35px;}
body{background:#FA8072;}
p{color:#3263FD; font-family: helvetica; font-size: 35px;}
a{color:#3263FD; font-family: helventica; font-size: 35px;}
